
h1 {
  font-family: 'Great Vibes', cursive;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  text-transform: none;
}
p {
  font-family: 'Great Vibes', cursive;
  font-size: 1.3rem;
}
.line h2 {
  font-family: 'Great Vibes', cursive;
  color: #A8C34A;
  font-weight: bold;
  font-size: 1rem;
}

.line {
  border-bottom: 4px solid #808080;
  width: 15%; /* Adjust the width as needed */
  margin-bottom: 20px; /* Adjust the margin as needed */
}
.donatecontanier{
  width: 450px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: #aeed9e;
  border-radius: 8px;
}
.donatecontanier input[type='number']{
  width: 90%;
  margin-left: 20px;
	font-size: 16px; 
}
.donatecontanier input[type='text'] { 
	width: 90%;
  margin-left: 20px;
	font-size: 16px; 
} 
.calculate-btn { 
  display: block; 
  width: 90%; 
  padding: 10px; 
  background-color: #007bff; 
  color: #fff; 
  font-size: 16px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer;
  margin-left: 20px; 
}
label{
  margin-left: 14px;
}
